.popup__error {
    color: #FF0000;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    position: relative;
    margin-left: 36px;
    max-width: 358px;
    height: 12px;
    opacity: 0;
}

@media screen and (max-width: 580px) {
    .popup__error {
        height: 20px;
    }
}