.card__delete-button {
    background-image: url(../../../images/Trash.svg);
    background-color: transparent;
    background-size: 100% 100%;
    height: 18px;
    width: 19px;
    top: 18px;
    right: 15px;
    border: none;
    padding: 0;
    position: absolute;
    cursor: pointer;
}

.card__delete-button:hover {
    opacity: .8;
    cursor: pointer;
}