.profile__text {
    display: grid;
    grid-template-areas: "name edit-button" "title title";
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 18px;
    row-gap: 16px;
    align-content: center;
    justify-items: start;
}

@media screen and (max-width: 480px) {
    .profile__text {
        column-gap: 10px;
        row-gap: 14px;
    }
}