.profile__image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 30px;
}

@media screen and (max-width: 900px) {
    .profile__image {
        margin-bottom: 26.25px;
        margin-top: 38.25px;
    }
}

@media screen and (max-width: 480px) {
    .profile__image {
        margin: 38.25px auto 26.25px;
    }
}