.places {
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    column-gap: 17px;
    row-gap: 20px;
    margin: auto;
    padding: 0;
}

@media screen and (max-width: 900px) {
    .places {
        max-width: 629px;
    }
}

@media screen and (max-width: 655px) {
    .places {
        max-width: 282px;
    }
}