.popup__input {
    position: relative;
    max-width: 358px;
    width: 100%;
    min-height: 27.5px;
    border: none;
    border-bottom: 1px solid #000000;
    margin: 0 0 29.5px 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}

.popup__input:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 512px) {
    .popup__input {
        max-width: 238px;
        margin: 0 22px 30px 22px;
    }
}