.popup__container_type_preview {
    position: relative;
    max-height: 75vh;
    max-width: 75vw;
    width: auto;
    margin-top: 90px;
    padding: 0;
    background-color: transparent;
    display: flex;
}

@media screen and (max-width: 425px) {
    .popup__container_type_preview {
        max-width: 80vw;
        margin: 136px auto;
        max-height: 300px;
    }
}