.popup__container {
    position: relative;
    max-width: 430px;
    color: #000000;
    background-color: #ffffff;
    margin: auto;
    border-radius: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 512px) {
    .popup__container {
        max-width: 282px;
        max-height: 334px;
    }
}