.profile {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    max-width: 880px;
    /* width: 100%; */
    margin: auto;
}

@media screen and (max-width: 900px) {
    .profile {
        flex-direction: column;
    }
}