.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 880px;
    width: 100%;
    margin: 0 auto 50px;
}

@media screen and (max-width: 900px) {
    .profile {
        flex-direction: column;
        margin: 0 auto 30px;
    }
}