.header {
    display: flex;
    max-width: 880px;
    width: 100%;
    margin: 45px auto 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 925px) {
    .header {
        width: calc(100% - 48px);
    }
}