.profile__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 340px;
    grid-area: title;
}

@media screen and (max-width: 740px) {
    .profile__title {
        text-align: center;
    }
}

@media screen and (max-width: 610px) {
    .profile__title {
        font-size: 14px;
        line-height: 1.2;
        max-width: 220px;
    }
}

@media screen and (max-width: 480px) {
    .profile__title {
        margin: auto;
    }
}