.profile__title {
    font-weight: 400px;
    font-size: 18px;
    line-height: 1.21;
    margin: 0;
}

@media screen and (max-width: 900px) {
    .profile__title {
        position: relative;
        text-align: center;
        /* margin-top: 14px; */
    }
}

@media screen and (max-width: 610px) {
    .profile__title {
        font-size: 14px;
        line-height: 1.2;
    }
}