.profile__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 340px;
}

@media screen and (max-width: 900px) {
    .profile__title {
        position: relative;
        text-align: center;
        max-width: 280px;
    }
}

@media screen and (max-width: 610px) {
    .profile__title {
        font-size: 14px;
        line-height: 1.2;
        max-width: 250px;
    }
}