.place__text {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    justify-content: space-around;
    margin: 25px 0 0 21px;
    max-width: 246px;
    /* align-self: center; */
}