.profile__add-button {
    width: 150px;
    height: 50px;
    border: 1px solid #ffffff;
    background-color: #000000;
    background-image: url(../../../images/add-button.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0;
}

@media screen and (max-width: 900px) {
    .profile__add-button {
        margin: auto;
    }
}

@media screen and (max-width: 400px) {
    .profile__add-button {
        width: 282px;
        margin: auto;
    }
}
