.card__like-button {
    background: url(../../../images/like_button.svg);
    height: 19px;
    max-width: 21px;
    width: 100%;
    border: 0;
}

.card__like-button:hover {
    opacity: 0.5;
  }
  
  .card__like-button:active,
  .liked {
    background-image: url(../../../images/like_filled_button.svg);
    opacity: 1;
  }