.footer {
    max-width: 880px;
    margin: 68px auto 60px;
}

@media screen and (max-width: 950px) {
    .footer {
        margin-left: 149.5px;
    }
}

@media screen and (max-width: 610px) {
    .footer {
        max-width: 282px;
        margin: 50px auto 36px;
    }
}