.button_save {
    /* position: relative; */
    min-width: 358px;
    min-height: 50px;
    background-color: #000000;
    color: #ffffff;
    margin: 48px 36px 36.5px;
    border-radius: 2px;
    padding: 0;
}