.button_save {
    position: relative;
    max-width: 358px;
    min-height: 50px;
    width: 100%;
    font-weight: ;
    font-size: ;
    line-height: ;
    background-color: #000000;
    color: #ffffff;
    margin: 48px 36px 36.5px;
    border-radius: 2px;
    padding: 0;
}

@media screen and (max-width: 512px) {
    .button_save {
        width: 238px;
        margin: 46px 22px 25px;
    }
}