.popup__close-button {
    background-image: url(../../../images/close_icon.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    height: 40px;
    width: 40px;
    position: absolute;
    float: right;
    top: -40px;
    right: -40px;
}

@media screen and (max-width: 512px) {
    .popup__close-button {
        height: 26px;
        width: 26px;
        right: 10px;
        top: -40px;
    }
}