.profile__info {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .profile__info {
        flex-direction: column;
        width: 282px;
    }
}