.footer {
    max-width: 318px;
    margin: 68px 0 60px 0;
}

@media screen and (max-width: 950px) {
    .footer {
        margin-left: 149.5px;
    }
}

@media screen and (max-width: 610px) {
    .footer {
        max-width: 282px;
        margin: auto;
    }
}